<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anji.allways.business.mapper.StoragePlanEntityMapper">
	<resultMap id="BaseResultMap"
		type="com.anji.allways.business.entity.StoragePlanEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="no" property="no" jdbcType="VARCHAR" />
		<result column="customer" property="customer" jdbcType="VARCHAR" />
		<result column="customer_id" property="customerId" jdbcType="INTEGER" />
		<result column="warehouse_name" property="warehouseName"
			jdbcType="VARCHAR" />
		<result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
		<result column="operator" property="operator" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="reserved" property="reserved" jdbcType="VARCHAR" />
		<result column="storage_time" property="storageTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="BaseResultVOMap" type="com.anji.allways.business.vo.StorageRecordVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="vin" property="vin" jdbcType="VARCHAR" />
	    <result column="brand" property="brand" jdbcType="VARCHAR" />
	    <result column="series" property="series" jdbcType="VARCHAR" />
	    <result column="model" property="model" jdbcType="VARCHAR" />
	    <result column="color" property="color" jdbcType="VARCHAR" />
	    <result column="location" property="location" jdbcType="VARCHAR" />
	    <result column="storage_time" property="storageTime" jdbcType="TIMESTAMP" />
		<result column="customer" property="customer" jdbcType="VARCHAR" />
		<result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR"/>
		<result column="operator" property="operator" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Aug 23 
			17:12:20 CST 2017. -->
		id, no, customer,customer_id, warehouse_name, warehouse_id, operator, storage_time, status, create_user,
		create_time, update_user, update_time, reserved
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Aug 23 
			17:12:20 CST 2017. -->
		select
		<include refid="Base_Column_List" />
		from tb_storage_plan
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByNo" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tb_storage_plan
		where no = #{no,jdbcType=INTEGER}
	</select>
   <!-- 分页查询 -->
   <select id="queryStoragePlans" resultMap="BaseResultMap" parameterType="com.anji.allways.business.entity.StoragePlanEntity" >
    select 
        <include refid="Base_Column_List" />
    from tb_storage_plan
    where 1=1
        <include refid="Base_Where_List"/>
    order by id desc
    <if test="dbIndex != null and dbNumber != null">
      limit #{dbIndex},#{dbNumber}
    </if>
  </select>
  <!-- 分页查询条数查询 -->
   <select id="queryStoragePlanCount" resultType="java.lang.Integer" parameterType="com.anji.allways.business.entity.StoragePlanEntity" >
    select 
        count(1)
    from tb_storage_plan
    where 1=1
        <include refid="Base_Where_List"/>
  </select>	  
   <!-- 分页查询记录 -->
   <select id="queryStorageRecords" resultMap="BaseResultVOMap" parameterType="com.anji.allways.business.entity.StorageRecordEntity" >
    select 
        b.vin,
        b.brand, 
        b.series, 
        b.model, 
        b.color,
        b.location, 
        a.storage_time,
        a.customer, 
        a.warehouse_name,   
        a.operator
    from tb_storage_plan a
    inner join
    tb_storage_vehicle b ON 
    (a.id = b.storage_plan_id and b.is_storage=1)
    where 1=1
        <include refid="Record_Where_List"/>
    order by a.storage_time desc,b.id desc
    <if test="dbIndex != null and dbNumber != null">
      limit #{dbIndex},#{dbNumber}
    </if>
  </select>
  <!-- 分页查询条数查询 -->
   <select id="queryStorageRecordCount" resultType="java.lang.Integer" parameterType="com.anji.allways.business.entity.StorageRecordEntity" >
    select 
        count(1)
    from tb_storage_plan a
    inner join
    tb_storage_vehicle b ON 
    (a.id = b.storage_plan_id and b.is_storage=1)
    where 1=1
        <include refid="Record_Where_List"/>
  </select>	  
  <!--   分页查询条件 -->
  <sql id="Record_Where_List" >
    <if test="vin != null and vin != ''">
        and vin like concat("%",#{vin},"%")
    </if>
    <if test="customer != null and customer != ''">
        and customer like concat("%",#{customer},"%")
    </if>
    <if test="warehouseName != null and warehouseName != ''">
        and warehouse_name like concat("%",#{warehouseName},"%")
    </if>
    <if test="status != null and status !=''">
        and status = #{status}
    </if>
    <if test="storageStartTime != null and storageStartTime != ''">
        and date_format(storage_time,'%Y-%m-%d') >= #{storageStartTime}
    </if>
    <if test="storageEndTime != null and storageEndTime != ''">
        and date_format(storage_time,'%Y-%m-%d') <![CDATA[<=]]> #{storageEndTime}
    </if>
    <if test="createUser != null and createUser != ''">
		and create_user = #{createUser}
	</if>
	<if test="idList !=null and idList.size>0">
		and warehouse_id in
		<foreach collection="idList" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</if>
    </sql>
  <sql id="Base_Where_List" >
    <if test="no != null and no != ''">
        and no like concat("%",#{no},"%")
    </if>
    <if test="customer != null and customer != ''">
        and customer like concat("%",#{customer},"%")
    </if>
    <if test="warehouseName != null and warehouseName != ''">
        and warehouse_name like concat("%",#{warehouseName},"%")
    </if>
    <if test="statusSearch != null and statusSearch !=''">
        and status = #{statusSearch}
    </if>
    <if test="createStartTime != null and createStartTime != ''">
        and date_format(create_time,'%Y-%m-%d') >= #{createStartTime}
    </if>
    <if test="createEndTime != null and createEndTime != ''">
        and date_format(create_time,'%Y-%m-%d') <![CDATA[<=]]> #{createEndTime}
    </if>
    <if test="createUser != null and createUser != ''">
		and create_user = #{createUser}
	</if>
	<if test="idList !=null and idList.size>0">
		and warehouse_id in
		<foreach collection="idList" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</if>
    </sql>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Aug 23 
			17:12:20 CST 2017. -->
		delete from tb_storage_plan
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.anji.allways.business.entity.StoragePlanEntity">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() as id
		</selectKey>
		insert into tb_storage_plan (id, no, customer,customer_id,
		warehouse_name, warehouse_id, operator,
		create_user, create_time, update_user,
		update_time, reserved,status,storage_time)
		values (#{id,jdbcType=INTEGER}, #{no,jdbcType=VARCHAR},
		#{customer,jdbcType=VARCHAR},#{customerId,jdbcType=INTEGER},
		#{warehouseName,jdbcType=VARCHAR}, #{warehouseId,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR},
		#{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
		#{updateUser,jdbcType=INTEGER},
		#{updateTime,jdbcType=TIMESTAMP}, #{reserved,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},#{storageTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.anji.allways.business.entity.StoragePlanEntity">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Aug 23 
			17:12:20 CST 2017. -->
		insert into tb_storage_plan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="no != null">
				no,
			</if>
			<if test="customer != null">
				customer,
			</if>
			<if test="customerId != null">
				customer_id,
			</if>
			<if test="warehouseName != null">
				warehouse_name,
			</if>
			<if test="warehouseId != null">
				warehouse_id,
			</if>
			<if test="operator != null">
				operator,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="reserved != null">
				reserved,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="storageTime != null">
				storage_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="no != null">
				#{no,jdbcType=VARCHAR},
			</if>
			<if test="customer != null">
				#{customer,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				#{customerId,jdbcType=INTEGER},
			</if>
			<if test="warehouseName != null">
				#{warehouseName,jdbcType=VARCHAR},
			</if>
			<if test="warehouseId != null">
				#{warehouseId,jdbcType=INTEGER},
			</if>
			<if test="operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="reserved != null">
				#{reserved,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="storageTime != null">
				#{storageTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.anji.allways.business.entity.StoragePlanEntity">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Aug 23 
			17:12:20 CST 2017. -->
		update tb_storage_plan
		<set>
			<if test="no != null">
				no = #{no,jdbcType=VARCHAR},
			</if>
			<if test="customer != null">
				customer = #{customer,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				customer_id = #{customerId,jdbcType=INTEGER},
			</if>
			<if test="warehouseName != null">
				warehouse_name = #{warehouseName,jdbcType=VARCHAR},
			</if>
			<if test="warehouseId != null">
				warehouse_id = #{warehouseId,jdbcType=INTEGER},
			</if>
			<if test="operator != null">
				operator = #{operator,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="reserved != null">
				reserved = #{reserved,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="storageTime != null">
				storage_time = #{storageTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.anji.allways.business.entity.StoragePlanEntity">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Aug 23 
			17:12:20 CST 2017. -->
		update tb_storage_plan
		set no = #{no,jdbcType=VARCHAR},
		customer = #{customer,jdbcType=VARCHAR},
		customer_id = #{customerId,jdbcType=INTEGER},
		warehouse_name = #{warehouseName,jdbcType=VARCHAR},
		warehouse_id = #{warehouseId,jdbcType=INTEGER},
		operator = #{operator,jdbcType=VARCHAR},
		create_user = #{createUser,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_user = #{updateUser,jdbcType=INTEGER},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		reserved = #{reserved,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		storage_time = #{storageTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
   <!-- 查询导出入库记录 -->
   <select id="queryStorageRecordsForExportData" resultType="java.util.LinkedHashMap" parameterType="java.util.Map" >
    select 
        IFNULL(b.vin, '') AS VIN码,
		IFNULL(b.brand, '') AS 品牌,
		IFNULL(b.series, '') AS 车系,
		IFNULL(b.model, '') AS 车型,
		IFNULL(b.color, '') AS 颜色,
		IFNULL(date_format(
			a.storage_time,
			'%Y-%m-%d %h:%i:%s'
		), '') AS 入库时间,
		IFNULL(a.customer, '') AS 客户,
		IFNULL(a.warehouse_name, '') AS 仓库名,
		IFNULL(b.location, '') AS 库位,
		IFNULL(a.operator, '') AS 操作人
    from tb_storage_plan a
    inner join
    tb_storage_vehicle b ON 
    (a.id = b.storage_plan_id and b.is_storage=1)
    where 1=1
    <include refid="Record_Where_List"/>
    order by a.storage_time desc,b.id desc
  </select>
  <!--   取消入库计划单 -->
  <update id="cancelStoragePlan" parameterType="java.util.Map">
		update tb_storage_plan
		set 
			status = #{status,jdbcType=INTEGER},
			update_user = #{updateUser,jdbcType=INTEGER},
			update_time = current_timestamp()
		where id = #{id,jdbcType=INTEGER}
  </update>
  <!--   更新入库计划单 -->
  <update id="updateStoragePlanById" parameterType="java.util.Map">
		update tb_storage_plan
		set 
		    <if test="customer != null and customer != ''">
			   customer = #{customer,jdbcType=VARCHAR},
			</if>
			 <if test="customerId != null">
			   customer_id = #{customerId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
			   status = #{status,jdbcType=INTEGER},
			</if>
			<if test="storageTime != null">
			   storage_time = #{storageTime,jdbcType=TIMESTAMP},
			</if>
			update_user = #{updateUser,jdbcType=INTEGER},
			update_time = current_timestamp()
		where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 查询导出入库计划单 -->
  <select id="exportStoragePlanByExcel" resultType="java.util.LinkedHashMap" parameterType="java.util.Map" >
    select 
       IFNULL(t.NO ,'') AS 入库计划单号,
	   IFNULL(date_format(t.create_time,'%Y-%m-%d %h:%i:%s'),'') AS 创建计划时间,
	   IFNULL(t.customer,'') AS 客户名称,
	   IFNULL(t.warehouse_name,'') AS 仓库名,
	   IFNULL(t.operator,'') AS 操作人,
	   IFNULL(count(t1.id),0) AS 车辆数,
	   CASE
			WHEN t. STATUS = 0 THEN
				'未入库'
			WHEN t. STATUS = 1 THEN
				'已入库'
			WHEN t. STATUS = 2 THEN
				'已取消'
			ELSE
				''
			END AS 状态
    from tb_storage_plan t
    inner join tb_storage_vehicle t1 on
    (t1.storage_plan_id=t.id)
    where 1=1
        <include refid="Base_Where_List"/>
    GROUP BY
	t.NO,
	t.create_time,
	t.customer,
	t.warehouse_name,
	t.operator,
	t.STATUS
	order by t.create_time desc
  </select>
</mapper>